
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOrganizerLabel" data-translate="falconcmsApp.organizer.home.createOrEditLabel">Create or edit a Organizer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.organizer.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.organizer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="falconcmsApp.organizer.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.organizer.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="falconcmsApp.organizer.affiliation" for="field_affiliation">Affiliation</label>
            <input type="text" class="form-control" name="affiliation" id="field_affiliation"
                    ng-model="vm.organizer.affiliation"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="falconcmsApp.organizer.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.organizer.email"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="falconcmsApp.organizer.web" for="field_web">Web</label>
            <input type="text" class="form-control" name="web" id="field_web"
                    ng-model="vm.organizer.web"
                    />
        </div>

        <div class="form-group">
            <label data-translate="falconcmsApp.organizer.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.organizer.userId" ng-options="user.id as user.id for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="falconcmsApp.organizer.conference" for="field_conference">Conference</label>
            <select class="form-control" id="field_conference" name="conference" ng-model="vm.organizer.conferenceId" ng-options="conference.id as conference.id for conference in vm.conferences"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
